// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

* {
    font-weight: normal;
    font-family: "IBM Plex Sans";
    font-size: 15px;
    font-weight: 500;
}

window.Bar {
    background: transparent;
    color: $fg-color;
    margin: 0;   
}
centerbox {
    margin: 5px 5px 3px 5px;
}   
box > box{ 
    background: $bg-color;
    padding: 0px 5px 0px 5px;
    border-radius: 7px;  
}
.transparent {
    background: transparent;
    color: transparent;
}

.battery {
    .charging {
        color: #a6da95;
    }
}
.workspaces {
    color: yellow;
    .nonspecial * {
        padding: 0;
    }
    .focused {
        color: orange;
    }
    .whatsappNotif {
        color: #8aadf4;
    }
    .whatsappNormal {
        color: #a6da95;
    }
    .specialToggle {
        color: #c6a0f6;
    }
    .vertBar {
        padding: 0px;
        margin: 0 -8px 0 -7px;
    }
}

.muted {
    color: red;
}

button {
    background: transparent;
    border-radius: 7px;
    margin: 0;
    outline: 0;
    padding: 0 0.3em;
    
}
// slider {
//     background: white;
//     border-radius: 7px;
//     margin: 0;
//     outline: 0;
//     padding: 0 0.3em;
    
// }

