// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

* {
    font-weight: normal;
    font-family: "IBM Plex Sans";
    font-size: 15px;
    font-weight: 500;
}

window.Bar {
    background: transparent;
    color: $fg-color;
    margin: 0px;   
    
    >centerbox {
        margin: 5px 5px 3px 5px;
        >box {
            padding: 1px 5px 0px 5px;
            background: $bg-color;
            border-radius: 7px;    
        }
    }   
}
.workspaces {
    color: yellow;
    label {
        font-weight: normal;
        font-family: IBM Plex Mono;
    }
    .focused {
        color: orange;
    }
}


button {
    background: transparent;
    border-radius: 7px;
    margin: 0;
    outline: 0;
    padding: 0 0.3em;
}

